html,
body
{
    height: 100%;
    margin: 0;
}

.layout
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    flex: 1;
}

footer
{
    text-align: center;
    padding: 1em;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}
